<html>
  <head>
    <title>Home</title>
  </head>
  <body>
    <p>Hello There!</p>
    <p>Please try our <a href="/greeter">greeter</a></p>
    <p>Or read your <a href="/horoscope">horoscope</a></p>
  </body>
</html>
